### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [20]:
total_players = len(pd.unique(purchase_data['SN']))
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#calculate the total number of unique items, avg. price, number of purchases, and total revenue
total_items = len(pd.unique(purchase_data['Item ID']))
total_purchases = len(purchase_data["Price"])
total_revenue = round(purchase_data["Price"].sum(), 2)
average_price = round(total_revenue/total_purchases, 2)

#create a new data frame with the new info
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_items],
                                    "Average Price": "$"+str(average_price),
                                    "Number of Purchases": [total_purchases],
                                   "Total Revenue": "$"+str(total_revenue)})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
#refine the original dataframe so that only unique SN's data shows up
unique_user_data = purchase_data.drop_duplicates(subset=["SN"])

# I checked that this dataset would produce the desired result by running this: len(pd.unique(unique_user_data['SN']))
#gender_demographics = unique_user_data.col_name.nunique


gender_demographics = pd.DataFrame({"Total Count": (unique_user_data['Gender'].value_counts(dropna=False)),
                                   "Percentage of Players": ((unique_user_data['Gender'].value_counts(normalize=True)))})
#get the percentage of players df formulated correctly
gender_demographics.style.format({"Percentage of Players":"{:,.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
#use .groupby to group the data by gender
gender_analysis = purchase_data.groupby("Gender")

#calculate purchase count, avg. purchase price, avg. purchase total per person etc. by gender
unique_count_gender = gender_analysis.nunique()["SN"]

total_count_gender = gender_analysis["Purchase ID"].count()

total_revenue_gender = gender_analysis["Price"].sum()

purchase_perperson = ((total_revenue_gender/unique_count_gender))

average_price_gender = gender_analysis["Price"].mean()

#create a new datafram with the new information
gender_purchasing_analysis= pd.DataFrame({"Purchase Count": total_count_gender,
                                          "Average Purchase Price": average_price_gender,
                                          "Total Purchase Value": total_revenue_gender,
                                          "Avg Total Purchase per Person": purchase_perperson})

#add an index to porperly display the data 
gender_purchasing_analysis.index.name = "Gender"

#make it prettttty!
gender_purchasing_analysis.style.format({"Average Purchase Price":"${:,.3}",
                                  "Total Purchase Value":"${:,.6}",
                                  "Avg Total Purchase per Person":"${:,.3}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [62]:
#make the bins and the group labels
bins = [0,9,14,19,24,29,34,39,100]

group_labels = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

#use pd.cut to divide the data into the above bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#group by Age
age_grouped = purchase_data.groupby("Age Group")

#calculate numbers and percentages by age group
age_count_bygroup = age_grouped["SN"].nunique()

age_percent_bygroup = (age_count_bygroup/total_players)*100

demographics_byage = pd.DataFrame({"Total Count": age_count_bygroup, 
                                   "Percentage of Players": age_percent_bygroup})
#format
demographics_byage.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
#use the age_grouped data from the previous 
avg_price_byage = age_grouped["Price"].mean()

purchase_value_byage = age_grouped["Price"].sum()

total_value_byage = age_grouped["Purchase ID"].count()

avg_perperson_byage = (total_value_byage/total_players)*100

age_demographics = pd.DataFrame({"Purchase Count": age_count_bygroup,
                   "Average Purchase Price": avg_price_byage,
                   "Total Purchase Value": purchase_value_byage,
                   "Avg Total Purchase per Person": avg_perperson_byage })

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
#group the original DF by SN
top_spenders = purchase_data.groupby("SN")

#calculate purchase count, average purchase price, and total purchase value for each user in the data
purchase_count_bysn = top_spenders["Purchase ID"].count()

avg_price_bysn = top_spenders["Price"].mean()

purchase_total_bysn = top_spenders["Price"].sum()

#create new DF
spender_df = pd.DataFrame({"Purchase Count": purchase_count_bysn,
                          "Average Purchase Price": avg_price_bysn,
                          "Total Purchase Value": purchase_total_bysn})

#sort by total purchase value - largest to smallest
spender_df_sorted = spender_df.sort_values(by='Total Purchase Value', ascending=False).head()
#format
spender_df_sorted.style.format({"Average Purchase Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [105]:
# make a new df with the item ID/Name/Price info
items = purchase_data[["Item ID", "Item Name", "Price"]]

# group that data
item_stats = items.groupby(["Item ID","Item Name"])

#find the purchase count for all items
item_purchases = item_stats["Price"].count()

#get the total value for each item
item_purchase_value = (item_stats["Price"].sum())

#get the price of each item
item_price = item_purchase_value/item_purchases

#create final dataframe
most_popular_items = pd.DataFrame({"Purchase Count":item_purchases,
                                   "Item Price": item_price,
                                   "Total Purchase Value": item_purchase_value})
#format
most_popular_items.style.format({"Item Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}"})
most_popular_items.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [98]:
#sort and format
most_popular_items_sorted = most_popular_items.sort_values(by="Total Purchase Value", ascending=False).head()

most_popular_items_sorted.style.format({"Item Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}"})